*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top-header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 10;
    font-size: 12px;
    font-weight: 700;
    /*border: 2px dashed black;*/
}

#logo, .left{
    float: left;
}

.right{
    float: right;
}

#logo{
    margin: 15px 15px 0px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    text-decoration: underline;
}

.blue-link{
    color: white;
    padding: 4px 12px;
    background-color: #0061ff;
}

.blue-link:hover{
    text-decoration: none;
    opacity: 0.8;
}

.jumbo-tron{
    width: 100%;
    height: 610px;
    margin-top: 60px;
    /*border: 2px dashed black;*/
}

.jumbo-container{
    width: 100%;
    height: 550px;
    background-color: #99c0ff;
    /*border: 2px dashed black;*/
}

.title{
    width: 80%;
    height: 200px;
    margin: 0px 10%;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
    /*border: 2px dashed black;*/
}

.free-trial{
    width: 30%;
    height: 300px;
    float: left;
    margin-left: 10%;
    padding-top: 40px;
    padding-right: 40px;
    line-height: 20px;
    font-size: 14px;
    /*border: 2px dashed black;*/
}

.free-trial a{
    text-decoration: none;
    line-height: 70px;
}

.app-image{
    width: 50%;
    height: 400px;
    float: left;
    /*border: 2px dashed black;*/
}

.app-image img{
    width: 100%;
    height: auto;
    padding-top: 40px;
}

#arrow{
    width: 10%;
    height: auto;
}

.plans-container{
    width: 70%;
    height: 1000px;
    margin: 70px 15% 0px;
    /*border: 2px dashed black;*/
}

.plans-container h2{
    font-size: 37px;
}

.subscription{
    display: inline-block;
    line-height: 100px;
    margin-right: 15px;
}

.radio{
    margin: 0px 5px;
}

.subscription-type{
    width: 30%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    border: 1px solid black;
}

.middle{
    margin: 0px 5%;
}

.plan{
    width: 30%;
    height: 800px;
    float: left;
    padding: 25px 30px 0px;
    font-size: 12px;
    border: 1px solid black;
}

h3{
    font-size: 25px;
}

.plan p{
    line-height: 30px;
}

.plan li{
    list-style: none;
    margin-top: 25px;
    margin-bottom: 30px;
}

.plan li a{
    text-decoration: none;
    padding: 10px 20px;
}

.bar{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.buy{
    color: #0061ff;
}

.plan > h4{
    margin-top: 50px;
    font-size: 18px;
}

.contact{
    width: 70%;
    height: 240px;
    margin: 30px 15%;
    position: relative;
    border: 1px solid black;
}

.contact-title{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid black;
}

.contact > h3{
    margin-top: 30px;
    margin-left: 30px;
}

.contact > h4{
    margin-top: 30px;
    margin-left: 30px;
}

.contact p{
    margin-top: 35px;
    margin-left: 30px;
    font-size: 12px;
}

.contact a{
    position: absolute;
    right: 30px;
    top: 70px;
    padding: 10px 30px;
    text-decoration: none;
    
}
